<footer class="dark-section  text-center d-flex flex-column align-items-center justify-content-center">
    <i class="bi bi-globe2  footer-icon"></i>
    <p class="footer-text text-center">Contact me and get in touch!
    </p>
    <div class="social-networks-icons d-flex flex-wrap align-items-center justify-content-center" >

      <a href="https://github.com/YeyoDev99" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>

      </a>
      <a href="mailto:yeyoduglas2004@gmail.com" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-envelope"></i>

      </a>
    </div>
    <div class="copyright">
      created by yeyoDev99 (2023) &#169;
    </div>  
  </footer>