
    
    <form  class='login d-flex flex-column justify-content-center align-items-center' action="{% url 'task_page:login' %}" method='POST'>
        {% if messages %}
        {% for message in messages %}
            <p><strong> {{ message }} </strong></p>
        {% endfor %}
    {% endif %}
        {% csrf_token %}
        <br>
        <div class="input-group ">
            <span class="input-group-text" id="basic-addon1"><i class="login-icon bi bi-person"></i></span>
            <input aria-describedby="basic-addon1" class='login-input form-control' type="text" placeholder="username" name="username" >    
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="login-icon bi bi-key"></i></i></span>
            <input aria-describedby="basic-addon1" class='login-input form-control' type="password" placeholder="password" name='password'>    
        </div>
        <br>
        <button type='submit'>login</button>
        <p style='text-align: center;'>haven't signed up yet? <a href=" {% url 'task_page:register' %} "><br><strong>click here</strong></a></p>
    </form>
