
    
    <form  class='login d-flex flex-column justify-content-center align-items-center' action="{% url 'task_page:login' %}" method='POST'>
        {% if messages %}
        {% for message in messages %}
            <p><strong> {{ message }} </strong></p>
        {% endfor %}
    {% endif %}
        {% csrf_token %}
        <br>
        <input class='login-input' type="text" placeholder="username" name="username" >
        <br>
        <input class='login-input' type="password" placeholder="password" name='password'>
        <br>
        <button type='submit'>login</button>
        <p style='text-align: center;'>haven't signed up yet? <a href=" {% url 'task_page:register' %} "><br><strong>click here</strong></a></p>
    </form>
